.headline{
    font-size:75px;
    margin: 150px 50px 40px;
    font-family: monospace;
    width: 50%;
    line-height: 1;
}

.info{
    font-size: 18px;
    margin: 0px 50px 50px;
    font-family: monospace;
}

@media screen and (max-width:750px){
    .headline{
        font-size: 50px;
        width: 50%;
    }

    .info{
        font-size: 16px;
    }
}