@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&display=swap'); 

.headline{
    font-size:75px;
    margin: 150px 50px 40px;
    font-family: "Azeret Mono", monospace;
    width: 50%;
    line-height: 1;
}

.info{
    font-size: 18px;
    margin: 0px 50px 50px;
    font-family: "Azeret Mono", monospace;
}

@media screen and (max-width:750px){
    .headline{
        font-size: 50px;
        width: 50%;
    }

    .info{
        font-size: 16px;
    }
}