.main{
    margin-top: 50vh;
}

.cardContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    position: sticky;
    top: 0px;

}

.show{
    opacity: 1;
}

.section{
    height: 75vh;
    width: 95vw;
    display: flex; 
    flex-direction: column;
    justify-content: center;
    margin: 20px;
    background-color: #f1f1f1;
    border-radius: 50px;
    padding: 50px;
    box-shadow: 0px 0px 12px 1px rgba(0, 0, 0, .2);
}

.headline{
    font-family: monospace;
    font-size: 28px;
    text-align: center;
    height: fit-content;
}

#one{
    flex-direction: column;
}

.projectImages {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.p{
    font-family: monospace;
    font-size: 16px;
}

.pCursive{
    font-family: monospace;
    font-size: 16px;
    font-style: italic;
}

.specialties{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-around;
    align-items: center;
}

.specialty{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: #CA2020;
    font-family: monospace;
}


.illu{
    width: 400px;
    height: 200px;
    background-color: #fff;
}

.specialty h5{
    font-family: monospace;
    font-size: 20px;
}

.specialty {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: #CA2020;
    font-family: monospace;
 }
 
.hwwImgOne, .hwwImgTwo, .hwwImgThree {
    width: 250px;
    height: 250px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    transition: transform 0.3s ease;
}
 
.hwwImgOne {
    background-image: url(/muse1.png);
}

.hwwImgTwo {
    background-image: url(/muse2.png);
}

.hwwImgThree {
    background-image: url(/muse3.png);
}
 
.hwwImgOne:hover {
    background-image: url(/muse1hover.png);
    transform: scale(1.8); /* Enlarge the image */
    z-index: 1; /* Ensure it appears above other elements */
}

.hwwImgTwo:hover {
    background-image: url(/muse2hover.png);
    transform: scale(1.8); /* Enlarge the image */
    z-index: 1; /* Ensure it appears above other elements */
}

.hwwImgThree:hover {
    background-image: url(/muse3hover.png);
    transform: scale(1.8); /* Enlarge the image */
    z-index: 1; /* Ensure it appears above other elements */
}
 

/* CSS for contact form */

.input{
    margin-bottom: 20px;
    width: 80%;
    font-family: monospace;
}

.textInput{
    width: 80%;
    height: 80%;
    
}

.info{
    width: 50%;
    font-family: monospace;
    
}

.infoBox{
    display: flex;
    flex-direction: row;
}

.request{
    width: 50%;
    font-family: monospace;
}

.button{
    display: flex;
    flex-direction: row;
    align-items: center;
    text-decoration: none;
    
}

.buttonText{
    font-size: 20px;
    text-decoration: none;
    font-family: monospace;
    color: #CA2020;
}

.arrowIcon{
    transform: rotate(45deg);
    width: 25px;
    height: 25px;
    margin-bottom: -3px;
    margin-left: 5px;
    color: #CA2020;
}

/* mobile css */

/* CSS for mobile devices */

@media screen and (max-width: 750px) {
    .cardContainer {
      height: auto;
      top: auto;
    }
  
    .section {
      height: auto;
      padding: 20px;
      width: 90vw;
      overflow-y: auto;
    }
  
    .headline {
      font-size: 22px;
    }
  
    .projectImages {
      flex-direction: column;
      align-items: center;
    }
  
    .specialties {
      flex-direction: column;
      align-items: center;
    }
  
    .specialty {
      margin-bottom: 20px;
    }
  
    .infoBox {
      flex-direction: column;
    }
  
    .info,
    .request {
      width: 100%;
    }
  
    .input,
    .textInput {
      width: 100%;
    }
  
    .button {
      justify-content: center;
    }
  }
  